@import 'variables';
@import 'form';
@import 'header';
@import 'profile';
@import 'flash';
@import 'article';
@import 'post-button';
@import 'slick-custom';
@import 'common';
@import 'like';
@import 'comment';
@import 'relation';
@import 'sidebar';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}
h3 {
  font-size: 16px;

}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  max-width: 650px;
  margin: 30px auto;
  padding-bottom: 30px;
  @include mq('sp') {
    padding: 16px;
    margin: 0;
    width: 100%;
  }
}
.margin-container {
  margin-top: 100px;
  @include mq('sp') {
    margin-top: 50px;
  }
}