@import './variables';

.article {
  margin-top: 20px;
  &-container {
    margin-top: 50px!important;
    padding: 30px 30px 20px;
  }
  &__avatar {
    width: 30px;
    height: 30px;
    border: 1px solid #bcb9b9;
    border-radius: 50%;
  }

  &__row-detail {
    display: flex;
  }

  &__detail {
    display: flex;
  }

  &__info {
    margin-left: 8px;
  }

  &__user {
    font-weight: bold;
    font-size: 14px;
  }

  &__time {
    font-size: 12px;
    color: #9E9E9E;
  }

  &__image {
    margin-top: 14px;
    img {
      width: 100%;
    }
  }

  &-img {
    width: 100%;
    aspect-ratio: 1;
  }

  &__about {
    display: flex;
    margin-top: 10px;
    img {
      width: 20px;
      height: 20px;
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  &__content {
    margin-top: 10px;
    font-size: 14px;
    border-bottom: 1px solid $border-color;
    padding-bottom: 15px;
  }

  &__content-show {
    margin-top: 20px;
    @include mq('sp') {
      margin-top: 10px;
    }
  }

  &_detail {
    padding-top: 10px;
    display: flex;
    font-size: 12px;
    position: relative;

    img {
      cursor: pointer;
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }

    &_actions {
      margin-left: auto;
    }
  }

  &_content {
    padding: 24px 0 32px;
  }
}

.comment-icon {
  margin-left: 10px;
}

