@import './variables';

input {
  &.text {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #9E9E9E;
    width: 100%;
    padding-bottom: 10px;
  }
}

input,
textarea {
  outline:none;
}

.field {
  margin-top: 10px;
}

.form-background {
  width: 100%;
  height: 375px;
  @include mq('sp') {
    height: 300px;
  }
  background: image-url('form-background') no-repeat center center / cover;
}

.form-password {
  font-size: 16px;
  font-weight: bold;
}

.form-text {
  font-size: 11px;
  color: $secondary-color;
}
.form-right {
  text-align: right;
  margin-top: 10px;
}

.btn-primary {
  background-color: $primary-color;
  border: none;
  width: 100%;
  text-align: center;
  color: #000000;
  padding: 16px 0;
  font-weight: bold;
  margin-top: 90px;
}

.post {
  &__detail {
    display: flex;
    margin-top: 20px;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #bcb9b9;
  }

  &__user-name {
    margin-left: 18px;
    line-height: 40px;
  }

  &__form {
    margin-top: 30px;
  }

  &__image-select {
    margin-top: 20px;
  }
}

.validation-message {
  margin-top: 20px;
  li {
    font-size: 14px;
    color: $secondary-color;
  }
}

img.share-icon {
  margin-left: 10px;
}