.header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}

.header__parts {
  display: inline-block;
  &:nth-child(2) {
    margin: 0 auto;
    transform: translateX(-10px);
  }
}

.header__three {
  transform: translateX(0)!important;
}