.profile-avatar {
  text-align: center;
  margin-top: 30px;
  img {
    width: 84px;
    height: 84px;
    border-radius: 100%;
    border: 1px solid #E91E63;
    padding: 3px;
    background: #fff;
    cursor: pointer;
  }
}

.profile-count {
  margin: 0 auto;
  text-align: center;
  display: flex;
  max-width: 241px;
  justify-content: space-between;
  margin-top: 40px;
  p {
    font-size: 14px;
    color: #9E9E9E;
  }
}

.image-test {
  width: 100%;
}

.hidden {
  display: none;
}