@import './variables';
.profile-avatar {
  text-align: center;
  @include mq('sp') {
    margin-top: 20px;
  }
  margin-top: 100px;
  img {
    width: 84px;
    height: 84px;
    border-radius: 100%;
    border: 1px solid #bcb9b9;
    padding: 3px;
    background: #fff;
  }
}

.profile-cursor {
  cursor: pointer;
}

.profile-count {
  margin: 0 auto;
  text-align: center;
  display: flex;
  max-width: 241px;
  justify-content: space-between;
  margin-top: 40px;
  p {
    font-size: 14px;
    color: #9E9E9E;
  }
}

.image-test {
  width: 100%;
}

.hidden {
  display: none;
}

.profile-post {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  @include mq('sp') {
    margin-top: 30px;
  }

  li {
    width: calc(33.333% - 20px * 2 / 3);
    @include mq('sp') {
      width: calc(33.333% - 5px * 2 / 3);
    }
    &:not(:nth-child(3n + 1)) {
      margin-left: 20px;
      @include mq('sp') {
        margin-left: 5px;
      }
    }
    &:nth-child(n + 4) {
      margin-top: 15px;
      @include mq('sp') {
        margin-top: 0px;
      }
    }
    img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}